body{
  background-color:lightgray;
  color:black;
font: normal 16px Arial, Helvetica, sans-serif;
text-align: center;
margin: 0;
}
header{
  text-align: center;
  color: black;
  font-style: bold;
}
aside{
  text-align: left;
}
footer{
  font-style: italic;
  font:bold;
}
.box-1, .box-2, .box-3, .box-4{
  background-color: white;
  color: black;
  font:bold;
  font-style: italic;
  border: 15px darkblue double;
  padding: 10px 10px;
}
.container{
  width: 80%;
  margin: auto;
}
h1{
  color: darkblue;
}
a{
  color: darkblue;
}

h5{
  text-decoration: underline;
}
